$color-purple: $info;

.navbar-lewagon {


  justify-content: space-between;
  background: transparent;

  .nav-link {
    color: white !important;
  }


  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand {
    img {
      width: 40px;
    }
  }

}

.navbar-lewagon-white {
  background-color: white;
  .nav-link {
    color: black !important;
  }
}
